[alias]
	tree = log --decorate --graph --oneline
	ch = checkout
	st = status
	chm = checkout mai
	chd = checkout dev
	b = branch
	cm = commit
	cmm = commit -m
	pl = pull
	plr = pull --rebase
	ps = push
	psf = push --force
	chb = checkout -b
	rb = rebase
	rbi = rebase -i
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	d = diff
	sh = stash
